<div id="{{alert}}" class="hidden alert-box fixed z-50 m-auto inset-0 p-8 w-5/6 max-w-lg h-40 flex flex-col justify-between bg-slate-50">
    <p class="text-sm sm:text-base text-slate-800">{{message}}</p>
    <div class="mt-8 flex flex-row justify-between">
        <button id="back-button" class="annuler grey-button min-w-32">{{back_text}}</button>
        <button class="{{act_button}} no-underline red-button min-w-32">{{act_text}}</button>
        <a href="{{ link }}" class="{{act_link}} red-button min-w-32">{{act_text}}</a>
    </div>
</div>